<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- Web.xml은 톰캣서비스가 시작될때 각종 설정을 읽어서 톰캣에 적용한다.수정하면 콤캣서비스를 다시시작해야한다.
 	수정하면 톰켓서비스를 다시시작해야한다.
 	주의 :하나라도 xml 문법에 맞지 않으면 톰켓서비스가 작동되지 않는다.
 
 -->
  <display-name>MVC_M2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>jjs.html</welcome-file>
  </welcome-file-list>
 
  <context-param>
  	<param-name>OracleDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  
 
  <context-param>
    <param-name>OracleURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
   <context-param>
    <param-name>OracleId</param-name>
  	<param-value>HR2</param-value>
  </context-param>
  
   <context-param>
    <param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
  
  
  <!-- 세션 유지시간 설정 (분으로 셋팅) -->
   <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  
   <!-- 한글 깨짐 방지를 위한 설정 (이 프로젝트의 모든 페이지에 대해서 설정)  -->
  <filter>
  	<filter-name>SetCharEncoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>utf-8</param-value>
  		</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>SetCharEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <!-- 서블릿 (servlet) : *.java  ==> html 로 출력 하는 자바를 서블릿 
  		   : 요즘은 서블릿을 controller  
  서블릿(Controller) 매핑 설정 :  -->
 
  
  <!-- 서블릿 Controller 매핑설정  -->
   <servlet>
  	<servlet-name>myController</servlet-name>
  	<servlet-class>com.controller.Mycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myController</servlet-name>
  	<url-pattern>/mvc_test/my.do</url-pattern>
  </servlet-mapping>
  
  
 
    <!-- MVCBoard 글목록 보기 Controller 매핑  -->
  <servlet>
  	<servlet-name>MVCBoardList</servlet-name>
  	<servlet-class>model2.mvcboard.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardList</servlet-name>
  	<url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
    
  <!-- 페이징 처리를 위한 설정 (변수값 할당) 출력레코드수:10개, 페이지수 : 5 -->
  <context-param>
  	<param-name>POSTS_PER_PAGE</param-name>
  	<param-value>5</param-value> 
  </context-param>
  
  <context-param>
  	<param-name>PAGES_PER_BLOCK</param-name>
  	<param-value>10</param-value> 
  </context-param>
  
  <!-- 글 내용보기  
   <servlet> 어노테이션 처리했지롱
  	<servlet-name>MVCBoardView</servlet-name>
  	<servlet-class>model2.mvcboard.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardView</servlet-name>
  	<url-pattern>/mvcboard/view.do</url-pattern>
  </servlet-mapping>-->
  
  
  <!-- 어노테이션 @webServlet ("/mvcboard/view.do") -->
  
  
    <!-- 글 수정 삭제하기   -->
    <!-- 어노테이션으로 설정했음  
   <servlet>
  	<servlet-name>MVCBoardPass</servlet-name>
  	<servlet-class>model2.mvcboard.PassController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardPass</servlet-name>
  	<url-pattern>/mvcboard/pass.do</url-pattern>
  </servlet-mapping>-->
  
  <!-- 첨부파일의 최대 용량 설정(1Mbyte) -->
  
  <context-param>
  	<param-name>maxPostSize</param-name>
  	<param-value>102400000</param-value>
  </context-param>

  
</web-app>